# Ignore VS-Code Settings 
.vscode/

# Ignore Python Virtual Environment
venv/

# Ignore Python egg-info matadata
ML_Pipeline_Project.egg-info/

# Ignore Python compiled files
src/__pycache__

# Ignore log files
logs/

# Ignore temporary files
notebooks/EDA_temp_file.ipynb

# Ignore Models
models/